<template>
	<div class="result">
		<img src="@/assets/result/bg_result.jpg" alt="" />
		<div class="abs baInfo">
			<img :src="baImg" alt="" />
		</div>
		<div v-if="$route.params.fromChoose" class="abs backBtn" @click="back">
			<img src="@/assets/result/back.png" alt="" />
		</div>
		<div class="abs tipsBg" v-if="$store.state.isResultTipsShow">
			<div class="abs tips" @click="close">
				<img src="@/assets/tips.png" alt="" />
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped src="./result.scss"></style>
<script>
import { mapState } from "vuex";
export default {
	name: "result",
	components: {},
	data() {
		return {
			// baInfoImg: require("@/assets/test.png"),
		};
	},
	computed: {
		...mapState({ baImg: "baImg" }),
	},
	mounted() {},
	methods: {
		close() {
			this.$store.commit("set_isResultTipsShow", false);
		},
		back() {
			this.$router.back(-1);
		},
	},
};
</script>
