.result .baInfo {
  top: 0; }

.result .tipsBg {
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }

.result .backBtn {
  width: 0.58rem;
  left: 0.5rem;
  top: 50%;
  transform: translate(-50%); }

.result .tips {
  width: 100%;
  top: 8.1rem; }
