.result {
    .baInfo {
        top: 0;
    }

    .tipsBg {
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba($color: #000, $alpha: 0.5);
    }

    .backBtn {
        width: 0.58rem;
        left: 0.5rem;
        top: 50%;
        transform: translate(-50%);
    }

    .tips {
        width: 100%;
        top: 8.1rem;
    }
}