<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>阿玛尼美妆专属美容顾问</title>
    <!-- Matomo -->
    <script type="text/javascript">
        // var _paq = window._paq || [];
        // /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        // _paq.push(['trackPageView']);
        // _paq.push(['enableLinkTracking']);
        // (function() {
        //     var u = "///";
        //     _paq.push(['setTrackerUrl', u + 'matomo.php']);
        //     _paq.push(['setSiteId', '1']);
        //     var d = document,
        //         g = d.createElement('script'),
        //         s = d.getElementsByTagName('script')[0];
        //     g.type = 'text/javascript';
        //     g.async = true;
        //     g.defer = true;
        //     g.src = u + 'matomo.js';
        //     s.parentNode.insertBefore(g, s);
        // })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>