<template>
	<div class="ba">
		<img src="@/assets/bg.jpg" alt="" />
		<div class="abs baListBox">
			<img class="rel mcenter title" src="@/assets/baList/title.png" alt="" />
			<div ref="baListBoxScroll" class="rel mcenter baListBoxScroll bio">
				<ul class="baList">
					<li
						v-for="(item, index) in baList"
						:key="index"
						class="rel baItem"
						@click="chooseBA(item)"
					>
						<div class="itemLeft">
							<i class="iconl">
								<img
									v-if="!item.serviceStar"
									src="@/assets/baList/iconl.png"
									alt=""
								/>
								<img v-else src="@/assets/baList/iconl2.png" alt="" />
							</i>
							<div class="baInfo">
								<p class="name">
									{{ item.empName }}
									<i v-if="item.serviceStar" class="isStarName">
										<img src="@/assets/baList/icon.png" alt="" />
									</i>
								</p>
								<p class="workType" v-getBaTitle="item.position"></p>
							</div>
							<i v-if="item.serviceStar" class="isStarBg"></i>
						</div>
						<i class="iconr">
							<img src="@/assets/baList/iconr.png" alt="" />
						</i>
					</li>
				</ul>
			</div>
			<div class="rel mcenter back" @click="back">
				<img src="@/assets/baList/back.png" alt="" />
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.ba {
	.baListBox {
		top: 2.95rem;
		width: 100%;
	}
	.title {
		width: 2.96rem;
		margin-bottom: 0.6rem;
	}
	.baListBoxScroll {
		// width: 4.7rem;
		width: 4.9rem;
		padding-right: 0.2rem;
		max-height: 5.8rem;
		overflow-y: scroll;
		// .baList {
		// }
		.baItem {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 0.2rem;
			padding: 0.18rem 0.2rem;
			border-radius: 10px;
			font-size: 0;
			background: #000;

			.itemLeft {
				display: flex;
				align-items: center;
			}
			.iconl {
				display: block;
				width: 0.63rem;
				margin-right: 0.3rem;
				z-index: 1;
			}
			.baInfo {
				display: inline-block;
				text-align: left;
				z-index: 1;
			}
			.name {
				// font-size: 0.24rem;
				font-size: 0.3rem;
				font-weight: bold;
			}
			.workType {
				font-size: 0.2rem;
			}
			.iconr {
				display: block;
				width: 0.15rem;
			}
			.isStarBg {
				position: absolute;
				left: 0;
				width: 70%;
				height: 76%;
				background: #9d010f;
				overflow: hidden;
				&::before {
					content: "";
					position: absolute;
					right: -0.7rem;
					top: 50%;
					width: 1rem;
					height: 1rem;
					transform: translateY(-50%) rotate(45deg) skew(20deg, 20deg);
					background: #000;
				}
			}
			.isStarName {
				width: 0.19rem;
				display: inline-block;
				vertical-align: super;
				font-size: 0;
			}
		}
	}
	.back {
		width: 1.73rem;
		margin-top: 0.2rem;
	}
}
// .baListBoxScroll{
// 	&::-webkit-scrollbar {
// 		width: 6px;
// 		height: 6px;
// 		background-color: rgba(255,255,255, .1);
// 	}
// 	&::-webkit-scrollbar-track {
// 		border-radius: 10px;
// 	}
// 	&::-webkit-scrollbar-thumb {
// 		border-radius: 11px;
// 		box-shadow: inset 0 0 0px rgba(255,255,255, .8);
// 		background-color: rgba(255,255,255, .8);
// 	}
// }

</style>
<style lang="scss">
.baListBoxScroll {
	padding-right: 0.3rem!important;
	.bscroll-vertical-scrollbar {
		width: 0.08rem !important;
		right: 2px !important;
		background-color: rgba(255,255,255, .1)!important;

		.bscroll-indicator {
			background-color: #fff!important;
			background-size: 100% 100% !important;
		}
	}
}
.baListBoxScroll.bio {
	.bscroll-vertical-scrollbar{		
		opacity: 1 !important;
	}
}
</style>


<script>
import { mapState, mapGetters } from "vuex";
    import BScroll from 'better-scroll'
import { setTimeout } from 'timers';
export default {
	name: "Home",
	components: {
		BScroll
	},
	data() {
		return {};
	},
	computed: {
		...mapGetters({ baList: "baList" }),
	},
	directives: {
		getBaTitle: {
			bind: function(el, binding) {
				let t = "";
				try {
					t = binding.value.split("-")[1];
				} catch (error) {}
				el.innerHTML = t || "美容顾问";
			},
		},
	},
	mounted() {
		this.load();
	},
	methods: {
		load() {
			this.$nextTick(() => {
				if (!this.$refs.baListBoxScroll) return;
				this.scroll = new BScroll(this.$refs.baListBoxScroll, {
					probeType: 3, // 允许实时监听 scroll
					scrollY: true,
					click: true,
					// useTransition: false,
					bounce: false, // 当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
					tap: true,
					mouseWheel: true,
					scrollbar: {
						fade: true,
						interactive: false
					}
				});
				this.scroll.refresh();
			})
			setTimeout(()=>{
				this.$refs.baListBoxScroll.classList = 'rel mcenter baListBoxScroll';
			},1000)
		},
		async chooseBA(item) {
			this.$toast("正在获取顾问二维码");
			let result = await this.$store
				.dispatch("getBAInfo", {
					employeeCode: item.empId,
				})
				.catch((err) => {
					this.$toast.fail("获取信息失败");
				});
			//
			this.$store.dispatch("TackingLog", {
				employeeCode: item.empId,
				baName: item.empName,
			});
			if (result) {
				this.$toast.clear();
				this.$router
					.push({ name: "result", params: { fromChoose: 1 } })
					.catch(() => {});
			}
		},
		back() {
			this.$router.push("/");
		},
	},
};
</script>
