<template>
    <div class="home">
        <img src="@/assets/bg.jpg" alt />
        <div class="abs content">
            <div class="rel mcenter selectBox">
                <van-field
                    class="selectItem selectItem_city"
                    v-model="city"
                    placeholder="请选择省/市"
                    readonly
                    is-link
                    @focus="cityShow = true"
                />
            </div>
            <!-- @click="chaxun" -->
            <div class="rel mcenter chaxun">
                <img src="@/assets/shopList/btn.png" alt />
            </div>
        </div>
        <!-- 没有选择，默认北京柜台 -->
        <div ref="shopListBox" class="abs shopListBox" :style="{ height: shopListBoxHeight }">
            <i class="abs center shopListLine"></i>
            <img
                ref="shopListBoxArrow"
                class="abs center shopListBoxArrow active"
                src="@/assets/shopList/arrow2.png"
                alt
            />
            <span ref="shopListBoxTips" class="abs center shopListBoxTips">选择柜台添加专属美容顾问</span>
            <div
                ref="shopListBoxScroll"
                class="rel shopListBoxScroll"
                :style="{ height: shopListBoxHeight }"
            >
                <ul class="shopList">
                    <li
                        v-for="(item, index) in shopList"
                        :key="index"
                        class="rel shopItem"
                        @click="chooseShop(item)"
                    >
                        <p class="shopName">{{ item.counterName }}</p>
                        <p class="shopDetail">{{ item.address }}</p>
                        <p class="shopPos" v-if="item.distance && item.distance != -1">
                            <i class="shopPosi">
                                <img src="@/assets/shopList/2.png" alt />
                            </i>
                            {{ item.distance }}km
                        </p>
                        <i class="abs shopTips">
                            <img src="@/assets/shopList/1.png" alt />
                        </i>
                    </li>
                </ul>
            </div>
        </div>

        <!-- safe-area-inset-bottom -->
        <!-- areaFilterList areaList-->
        <van-popup v-model="cityShow" position="bottom">
            <van-area
                title
                :area-list="areaFilterList"
                columns-num="2"
                @change="areaListChange"
                @confirm="areaListConfirm"
                @cancel="cityShow = false"
                :loading="isAreaListLoading"
            />
        </van-popup>
    </div>
</template>

<style lang="scss" scoped>
.home {
    font-size: 0;

    .content {
        width: 100%;
        top: 3.3rem;
        & /deep/ input::-webkit-input-placeholder {
            color: #fff;
        }
        .selectBox {
            width: 3.46rem;
            .selectItem {
                line-height: 60/100 + rem;
                margin-bottom: 28/100 + rem;
                padding: 0;
                padding-left: 12/100 + rem;
                text-align: left;
                border: 1px solid #cccccc;
                & /deep/ .van-icon-arrow {
                    position: absolute;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    color: #fff;
                }
            }
            .selectItem_city {
                flex: 1;
                margin-right: 24/100 + rem;
                border: 1px solid #fff;
                background: transparent;
                & /deep/ .van-field__control {
                    color: #fff;
                }
            }
        }
        .chaxun {
            width: 3.46rem;
            margin-top: 0.27rem;
        }
    }
    .shopListBox {
        top: 5.75rem;
        width: 100%;
        height: 100vh;
        // margin-top: 0.95rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: #000;
        -webkit-overflow-scrolling: touch;
        .shopListBoxScroll {
            margin-top: 1.13rem;
            overflow-y: scroll;
        }
        .shopListBoxArrow {
            top: 0.4rem;
            width: 0.4rem;
            opacity: 0;
            &.active {
                animation: shopListBoxArrowAn 1s linear alternate infinite;
            }
        }
        .shopListBoxTips {
            top: 0.8rem;
            color: #fff;
            width: 5.55rem;
            // opacity: 0;
            z-index: 100;
            height: 0.5rem;
            font-size: 0.22rem;
            &.active {
                animation: shopListBoxTipsAn 1s linear;
                animation-fill-mode: forwards;
            }
        }
        .shopListLine {
            width: 0.55rem;
            height: 0.04rem;
            margin-top: 0.2rem;
            border-radius: 20px;
            background: #d6d6d6;
        }
        .shopList {
            display: flex;
            flex-direction: column;
            padding-right: 0.9rem;
            padding-bottom: 1.9rem;
            padding-left: 0.9rem;
        }
        .shopItem {
            flex-shrink: 0;
            width: 100%;
            text-align: left;
            padding-top: 0.4rem;
            padding-bottom: 0.1rem;
            border-bottom: 1px solid #4c0a11;

            .shopName {
                font-size: 0.28rem;
                color: #fff;
            }
            .shopDetail {
                width: 4.2rem;
                margin-top: 0.2rem;
                font-size: 0.24rem;
                color: #828282;
            }
            .shopPos {
                margin-top: 0.2rem;
                font-size: 0.24rem;
                color: #9c000f;
            }
            .shopPosi {
                display: inline-block;
                width: 0.19rem;
            }
            .shopTips {
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                width: 0.52rem;
            }
        }
    }
}
@keyframes shopListBoxArrowAn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes shopListBoxTipsAn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
</style>

<script>
import areaNormalList from "@/libs/area.js";
import { mapState } from "vuex";
import { setTimeout } from "timers";
export default {
    name: "Home",
    components: {},
    data() {
        return {
            city: "",
            cityShow: false,
            // areaNormalList: areaNormalList,
            isAreaListLoading: true,
            areaFilterList: {
                province_list: {},
                city_list: {}
            },
            shopListBoxHeight: ""
        };
    },
    computed: {
        ...mapState({ shopList: "shopList" })
    },
    mounted() {
        try {
            this.shopListBoxHeight = `calc(
				100vh - ${window.getComputedStyle(this.$refs.shopListBox).top}
			)`;
            this.$refs.shopListBox.style.position = "fixed";
            this.$refs.shopListBox.style.top = "auto";
            this.$refs.shopListBox.style.bottom = 0;
        } catch (error) {}
        // console.log(this.shopList);
        this.getProvinceList();
        setTimeout(() => {
            this.$refs.shopListBoxArrow &&
                this.$refs.shopListBoxArrow.classList.remove("active");
            this.$refs.shopListBoxTips &&
                this.$refs.shopListBoxTips.classList.add("active");
        }, 3000);
    },
    methods: {
        areaListChange(picker, value, index) {
            let areaName = "";
            try {
                for (var i = 0; i < value.length; i++) {
                    areaName = areaName + value[i].name + "/";
                }
                this.city = areaName.substring(0, areaName.length - 1);
                this.chaxun();
            } catch (error) {}
        },
        areaListConfirm() {
            this.cityShow = false;
            if (this.city) return;
            // 默认取第一项
            let area1 = "",
                area2 = "";
            for (var key in this.areaFilterList.province_list) {
                area1 = this.areaFilterList.province_list[key];
                break;
            }
            for (var key in this.areaFilterList.city_list) {
                area2 = this.areaFilterList.city_list[key];
                break;
            }
            if (!area1 || !area2) return;
            this.city = area1 + "/" + area2;
            this.chaxun();
        },
        async getProvinceList() {
            let result = await this.$store.dispatch("getArea");
            if (!result) return;
            var areaFilterList = {
                province_list: {},
                city_list: {}
            };
            // 具体请参考vant组件
            let code1 = 10;
            let code2 = 0;
            this.$store.state.cityList.map((item, index) => {
                let _code1 = code1 < 10 ? `0${code1}` : code1;
                let _code1_last = _code1 - 1;
                if (
                    areaFilterList.province_list[_code1_last + "00"] ==
                    item.province
                ) {
                    code2++;
                    let _code2 = code2 < 10 ? `0${code2}` : code2;
                    areaFilterList.city_list[_code1_last + "" + _code2] =
                        item.city;
                } else {
                    code1++;
                    code2 = 0;
                    let _code2 = code2 < 10 ? `0${code2}` : code2;
                    areaFilterList.province_list[_code1 + "00"] = item.province;
                    areaFilterList.city_list[_code1 + "" + _code2] = item.city;
                }
            });
            this.areaFilterList = Object.freeze(areaFilterList);
            // console.log(this.areaFilterList);
            this.isAreaListLoading = false;
        },
        async getCityList() {
            var data = ["北京市", "石家庄市", "唐山市"];
            var areaFilterList = {
                city_list: {}
            };
            adatarea.map(dataItem => {
                let city_list = areaNormalList.city_list;
                for (let key in city_list) {
                    dataItem == city_list[key]
                        ? (areaFilterList.city_list[key] = city_list[key])
                        : "";
                }
            });
            this.areaFilterList.city_list = Object.freeze(areaFilterList);
        },
        chaxun() {
            if (!this.city) return;
            let obj = {
                province: this.city.split("/")[0],
                city: this.city.split("/")[1]
            };
            this.$store.dispatch("getShop", obj);
        },
        async chooseShop(item) {
            let result = await this.$store
                .dispatch("getBaList", {
                    code: item.marsCode
                })
                .catch(err => {
                    console.log(err);
                    this.$toast.fail("柜员信息获取失败，请稍后再试");
                });
            if (result) this.$router.replace("/ba").catch(() => {});
        }
    }
};
</script>
