<template>
	<div class="loading-cover-container">
		<van-loading
			class="van-loading-container"
			type="spinner"
			size="24px"
			vertical
			>{{ loadingText }}</van-loading
		>
	</div>
</template>

<script>
export default {
	props: ["loadingText"],

	watch: {
		loadingText: {
			immediate: true,
			handler(newVal, oldVal) {
				console.log(newVal, oldVal);
			},
		},
	},
};
</script>

<style scoped>
.loading-cover-container {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.van-loading-container {
	position: absolute !important;
	left: calc((100% - 2rem) / 2);
	top: calc((100% - 2rem) / 2);
	z-index: 10;
	width: 2rem;
	height: 2rem;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 0.25rem;
}
</style>
