<template>
	<div v-if="show" class="abs popupBoxBg" @click="closeBtn('close')">
		<div class="abs popupBox" @click.stop>
			<div class="abs top"></div>
			<span>{{ tipsMsg }}</span>
			<div
				v-if="getCampaigState"
				class="mcenter fz0 closeBtn"
				@click="closeBtn('btn')"
			>
				<img src="@/assets/btn/queding.jpg" alt="" />
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.popupBoxBg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color: #fff, $alpha: 0.8);
}
.popupBox {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 550/100 + rem;
	padding: 80/100 + rem 40/100 + rem 40/100 + rem;
	border-radius: 8px;
	box-shadow: 0 0 5px #d2d2d2;
	font-size: 34/100 + rem;
	color: #8d8d8d;
	background: #fff;
	overflow: hidden;
	.top {
		top: 0;
		left: 0;
		width: 100%;
		height: 24/100 + rem;
		background: #00a0e9;
	}
	.closeBtn {
		width: 248/100 + rem;
		margin-top: 70/100 + rem;
	}
}
</style>
<script>
import { mapGetters } from "vuex";
export default {
	name: "popupBox",
	components: {},
	data() {
		return {
			tipsMsg: "",
		};
	},
	props: ["show", "msgId", "msg"],
	computed: {
		...mapGetters(["getCampaigState"]),
	},
	watch: {
		msg: {
			immediate: true,
			handler(newVal, oldVal) {
				this.tipsMsg = newVal;
			},
		},
	},
	methods: {
		closeBtn(type) {
			this.$emit("hide", [this.msgId, type]);
		},
	},
};
</script>
