<template>
	<div>{{ message }}</div>
</template>

<style></style>

<script>
import wx from "weixin-js-sdk";
import API_URL from "@/config.js";
export default {
	name: "wechatShare",
	data() {
		return {
			message: "",
			jweixinUrl: "https://res.wx.qq.com/open/js/jweixin-1.6.0.js",
			url: API_URL + "/api/Server/GetJsSdkSign",
			openType: "post",
			openData: {
				url: window.location.href.split("#")[0],
				// 'r': Math.random(),
				// 'type': "signature",
				// 'url': window.location.href.split("#")[0],
				// 'weixinidx': 1
			},
			debug: true,
			title: "",
			desc: "",
			shareImg: "",
			// "http://campaign.narscosmetics.com.cn/eyeshadow/static/images/share3.png",
			// shareImg: require("../images/share_img.jpg"),
		};
	},
	mounted() {
		this.$on("useShare", () => {
			this.getWeixin(this.jweixinUrl, this.getSdk);
		});
	},
	methods: {
		getWeixin(url, callback) {
			function loadJs(url, callback) {
				var script = document.createElement("script");
				script.type = "text/javascript";
				if (typeof callback != "undefined") {
					if (script.readyState) {
						script.onreadystatechange = function() {
							if (
								script.readyState == "loaded" ||
								script.readyState == "complete"
							) {
								script.onreadystatechange = null;
								callback();
							}
						};
					} else {
						script.onload = function() {
							callback();
						};
					}
				}
				script.src = url;
				document.body.appendChild(script);
			}
			loadJs(url, callback);
		},
		async getSdk() {
			console.log(1);
			let result = await this.$store.dispatch("wxsdk", {
				openType: this.openType,
				openData: this.openData,
				url: this.url,
			});
			console.log(2);
			this.$emit("wxsdkready");
		},
		getSdk1() {
			var init = {
				site: {
					url: window.location.href.split("#")[0],
					getPath: function() {
						return this.url.substring(0, this.url.lastIndexOf("/") + 1);
					},
				},
			};
			init.projectData = {
				share: {
					moment: {
						title: this.title,
						// imgUrl: init.site.getPath() + this.shareImg,
						imgUrl: this.shareImg,
						link: window.location.href.split("?")[0],
					},
					friend: {
						title: this.title,
						desc: this.desc,
						// imgUrl: init.site.getPath() + this.shareImg,
						imgUrl: this.shareImg,
						link: window.location.href.split("?")[0],
					},
				},
			};

			// var _timeStamp = new Date().getTime().toString();
			// var formobj = new FormData();
			// for (var key in this.openData) {
			// 	formobj.append(key, this.openData[key]);
			// }
			var formobj = {};
			for (var key in this.openData) {
				formobj[key] = this.openData[key];
			}
			var xhr = new XMLHttpRequest();
			xhr.open(this.openType, this.url, true);
			xhr.setRequestHeader(
				"Authorization",
				"Bearer " + this.$store.state.token2
			);
			xhr.setRequestHeader("content-type", "application/json;charset=utf-8");
			xhr.responseType = "json";
			xhr.onload = function() {
				if (this.status == 200) {
					var config = this.response.data;
					console.log("config", config);

					var wxConfig = {
						debug: false,
						beta: true,
						appId: config.appId,
						timestamp: config.timestamp * 1,
						nonceStr: config.nonceStr,
						signature: config.signature,
						jsApiList: ["getLocation"],
						// "addCard",
						// "onMenuShareTimeline",
						// "onMenuShareAppMessage",
						// "onMenuShareQQ",
						// "onMenuShareWeibo",
					};
					wx.config(wxConfig);
				}
			};
			xhr.send(JSON.stringify(formobj));

			//绑定微信分享事件
			try {
				wx.ready(function() {
					//设置分享后的回调函数
					var callback = {
						success: function(msg) {
							msg = JSON.stringify(msg).toLowerCase();
							if (msg.indexOf("timeline") > -1) {
								//分享到朋友圈
							} else if (msg.indexOf("message") > -1) {
								//分享到给朋友
							}
						},
					};
					wx.onMenuShareTimeline(
						Object.assign(init.projectData.share.moment, callback)
					);
					wx.onMenuShareAppMessage(
						Object.assign(init.projectData.share.friend, callback)
					);
				});
			} catch (e) {
				var msg = "错误：微信js-sdk未引用或者错误!";
				try {
					console.log(msg);
				} catch (e) {
					alert(msg);
				}
				return;
			}
		},
	},
};
</script>
