<template>
	<div id="app">
		<img v-if="!isShow" src="@/assets/bg.jpg" alt="" />
		<img class="abs center logo" src="@/assets/logo.png" alt="" />
		<router-view v-if="isShow" />
		<div v-if="showProgress" class="abs loadingBox">
			<p>{{ loadingProgress }}%</p>
			<div class="abs loadBg an">
				<img src="@/assets/loadBg.png" alt="" />
			</div>
			<!-- <div class="abs loadingBorder"></div> -->
		</div>
		<wechat-share ref="wechatshare" @wxsdkready="wxsdkready"></wechat-share>
		<loading v-show="isLoading" :loadingText="'加载中...'" />
		<div v-if="!isShow" class="beianBox">
			<!-- <span class="copyright">
  				<span class="copy">L'OREAL CHINA 欧莱雅（中国）有限公司版权所有<br />
   				<img src="img/WechatIMG1292.png" /><a href=" " class="police" target="_blank">沪公网安备 31010602001530号
    			<img src="img/gsicon.png" /><a href="javascript:;" class="icp" target="_blank">中国工商</a>
				<a href="http://www.miitbeian.gov.cn" class="icpLink" target="_blank">沪ICP备 08100043号-21</a> -->
			<span class="copyright">
				<span class="copy">
					©L'OREAL CHINA 欧莱雅（中国）有限公司版权所有<br>
					<img style="width: 2.5%;" src="@/assets/beian/icp1.png">
					<span class="police">
						<a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__www.beian.gov.cn_portal_registerSystemInfo-3Frecordcode-3D31010602001530&amp;d=DwIGbw&amp;c=Ftw_YSVcGmqQBvrGwAZugGylNRkk-uER0-5bY94tjsc&amp;r=jsPhl3WHalHeaerLpc0X98NYl175TbUe0AzQfuaVNzQ&amp;m=d0x_yDvRQkWkhA5StYBOHmLaPmr8SvwNf_Db7hzMKoI&amp;s=hqd9BwXoeLEOL0KYaGF54nCb5G2FwWHhr2liboZ5zOs&amp;e=">沪公网安备 31010602001530号</a>
						<img style="width: 2.5%;" src="@/assets/beian/icp2.png">
						<a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020170518090333000001788070-SAIC_SHOW_310000-20171116131223549754&amp;signData=MEQCIFeEGidDgoLjudrZ19twYmEXi/PzzM6o7OTmEjKeLlfLAiBsWnIQ4atIqxxRWhdePWdIMElk9oOo3eLBeDOq1XJM2g" class="icp" target="_blank" style="">中国工商</a>
						<a href=" http://www.miitbeian.gov.cn/" class="icpLink" target="_blank" style="">沪ICP备08100043号-21</a>
					</span>
				</span>
			</span>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import Loading from "@/components/Loading.vue";
import WechatShare from "@/components/WechatShare.vue";

export default {
	components: {
		Loading,
		WechatShare,
	},
	data() {
		return {
			isShow: false,
			showProgress: true,
			loadingProgress: 0,
		};
	},
	computed: {
		...mapState({ isLoading: "isLoading" }),
	},
	mounted() {
		this.onInit();
	},
	methods: {
		async onInit() {
			await this.$store.dispatch("oauth");
			await this.$store.dispatch("getInfo").catch((err) => {
				this.$toast.fail("网络异常");
			});
			this.$refs.wechatshare.$emit("useShare");
		},
		wxsdkready() {
			console.log("wxsdkready");
			this.loadStart();
		},
		loadStart() {
			if (this.loadingProgress >= 100) {
				setTimeout(() => {
					this.show();
				}, 300);
				return;
			}

			setTimeout(() => {
				this.loadingProgress++;
				this.loadStart();
			}, 0);
		},
		async show() {
			console.log("show");
			let result = await this.$store.dispatch("sdkGetLocation");
			this.showProgress = false;
			console.log("经纬度", result);
			// if (result.latitude || result.longitude) {
			await this.$store.dispatch("getNearShop", result);
			// }
			// if (!result.latitude || !result.longitude) return;

			if (this.$store.state.baImg) {
				this.$router.replace("/result");
				this.isShow = true;
			} else {
				this.$router.replace("/").catch(() => {});
				this.isShow = true;
			}
		},
	},
};
</script>
<style>
@font-face {
	font-family: STZHONGS;
	src: url("./assets/STZHONGS.ttf");
}
@font-face {
	font-family: SourceHanSansCNRegular;
	src: url("./assets/SourceHanSansCN-Regular.otf");
}
</style>
<style lang="scss">
* {
	margin: 0;
	box-sizing: border-box;
}
#app {
	// font-family: Avenir, Helvetica, Arial, sans-serif;
	font-family: lvhei !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #fff;
	font-size: 0;
}
body {
	max-width: 750px;
	margin: 0 auto !important;
	font-family: lvhei !important;
	overflow: hidden;
}
img {
	width: 100%;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.center {
	left: 50%;
	transform: translateX(-50%);
}
.mcenter {
	margin: 0 auto;
}
.fz0 {
	font-size: 0;
}
.logo {
	width: 3.41rem;
	margin-top: 0.9rem;
}
.loadingBox {
	width: 1.9rem;
	height: 1.9rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: SourceHanSansCNRegular;
	font-size: 0.28 * 2rem;
}
.loadingBox p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loadBg {
	transform-origin: 50% 50%;
	animation: loadRotate 1s infinite linear;
	font-size: 0;
}
.loadingBorder {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 50%;
}
@keyframes loadRotate {
	from {
		transform: rotate(0);
	}
	from {
		transform: rotate(-360deg);
	}
}
@media (min-width: 750px) {
	body {
		opacity: 0;
	}
}

.beianBox{
	position: fixed;
	bottom:2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
	.copyright{
		font-size: 0.2rem;
		color: #fff;
		line-height: 0.48rem;
		a{
			color: #fff;
		}
	}
}
</style>
